<h1 class="text-center">Editing Link</h1>
<br>
<div class="row">
	<%= render 'form' %>
</div>
<br>
<div class="row text-center">
	<%= link_to 'Show', @link %> |
	<%= link_to 'Back', links_path %>
</div>
